<div class="links top-level-element">
  <a routerLink="" class="logo white">&lt;jk /&gt;</a>
  <div class="social-links">
    <a href="https://github.com/JanKillburger" target="_blank">
      <img src="assets/img/github-button.png" alt="Github" />
    </a>
    <a routerLink="" fragment="say-hi">
      <img src="assets/img/email-button.png" alt="Contact me" />
    </a>
    <a href="https://www.linkedin.com/in/jan-killburger-4b3809134/" target="_blank">
      <img src="assets/img/linkedin-button.png" alt="Linked in" />
    </a>
  </div>
</div>
<div class="copyright-legal-notice top-level-element">
    <span>&copy; Jan Killburger 2024</span>
    <a routerLink="legal-notice" class="text-link">Legal notice</a>
</div>
