<h2>About me</h2>
<div class="wrapper">
  <div class="description">
    <p>I am a Front-end developer based in Stuttgart, Germany. I am a Front-end developer based in Stuttgart, Germany.</p>
    <p>If you think I'd be a good match for your projects, contact me!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit neque labore exercitationem, quod nulla, similique quae rem omnis accusantium unde, ad voluptate magni rerum ea porro fugiat dolores nesciunt. Soluta.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit neque labore exercitationem, quod nulla, similique quae rem omnis accusantium unde, ad voluptate magni rerum ea porro fugiat dolores nesciunt. Soluta.</p>
  </div>
  <div class="img-wrapper">
    <img
      src="assets/img/about-me-portrait.png"
      alt="Portrait picture of Jan Killburger"
    />
    <div class="img-frame"></div>
  </div>
</div>
