<h2>Über mich</h2>
<div class="wrapper">
  <div class="description">
    <p>Ich entwickle Web-Anwendungen als Fullstack Developer in Stuttgart. Über die Microsoft Power Platform habe ich mein Talent für die Anwendungsentwicklung entdeckt und mehr als zehn abteilungsübergreifende Projekte im direkten Austausch mit den Benutzern umgesetzt. An der Developer-Akademie habe ich professionelle Werkzeuge wie JavaScript, Angular und Python/Django in Frontend- und Fullstack-Projekten angewendet. Mein Studium des Wirtschaftsingenieurwesens sowie meine langjährige Tätigkeit in einem internationalen Industrieunternehmen liefern ein solides analytisches Fundament für die Konzeption und Strukturierung komplexer Projekte.</p>
  <a routerLink="" fragment="say-hi" class="btn">Kontakt</a>
  </div>
  <div class="img-wrapper">
    <img
      src="assets/img/about-me-portrait.jpg"
      alt="Portrait picture of Jan Killburger"
    />
    <div class="img-frame"></div>
  </div>
</div>
