@import "../../assets/styles/variables";

.main {
    position: sticky;
    top: 0;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    padding-inline: $global-padding-inline;

    .menu-toggle {
        background-image: url(../../assets/img/burger-menu.png);
        background-size: contain;
        width: 40px;
        height: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.menu-wrapper {
    width: 100%;
    background-color: white;

    .spacer {
        height: 0px;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        text-align: center;
        width: 700px;

        .link-decorator {
            height: 32px;
            width: 32px;
            border-left: 4px solid black;
            border-bottom: 4px solid black;
            transition: width 0.5s;
        }

        &:hover {
            .link-decorator {
                border-left: none;
                width: 100%;
                transition: width 0.5s;
            }
        }
    }

    li+li {
        margin-block-start: 0.5em;
    }
}

.contact {
    min-height: 300px;
    background: linear-gradient(7deg, black 59.5%, white 60% 100%);
    padding-block-start: 100px;
    padding-inline: $global-padding-inline;
    color: white;

    .header-link {

        &:hover {
            color: $accent-color;
        }
    }

    .contact-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 0.5em;

        .social-media a+a {
            margin-inline-start: 1em;
        }

        .social-media a {
            display: inline-block;
            height: 100%;

            &:hover img {
                transform: translateY(-12px);
            }
        }
    }
}