  <header class="header">
    <img src="assets/img/logo.png" alt="Jan Killburger logo" />
    <button [ngStyle]="{'background-image': currentBurgerIcn}" class="menu-toggle" type="button" (click)="toggleMenu()"></button>
  </header>
  <div class="menu-wrapper" *ngIf="isShown" [class.is-open]="menuOpen" [class.is-closed]="!menuOpen">
    <!-- <div class="spacer" [class.collapsed]="menuOpen" [class.expanded]="!menuOpen"></div> -->
    <nav>
      <ul>
        <li *ngFor="let item of menuItems" class="header-link">
          <a [href]="item.href" (click)="toggleMenu()">
            <span [innerHTML]="item.text"></span>
            <div class="link-decorator"></div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="contact">
      <a href="#say-hi" class="header-link header-link-dark" (click)="toggleMenu()">Say Hi!</a>
      <div class="contact-footer">
        <a href="#say-hi" (click)="toggleMenu()">jkillburger&#64;gmail.com</a>
        <div class="social-media">
          <a href="#">
            <img src="assets/img/github-button.png" alt="Go to Github">
          </a>
          <a href="#say-hi" (click)="toggleMenu()">
            <img src="assets/img/email-button.png" alt="Contact me">
          </a>
          <a href="#">
            <img src="assets/img/linkedin-button.png" alt="Go to LinkedIn">
          </a>
        </div>
      </div>
    </div>
  </div>