  <header class="header">
    <a routerLink="" class="logo black">&lt;jk /&gt;</a>
    <button [ngStyle]="{'background-image': currentBurgerIcn}" class="menu-toggle" type="button" (click)="toggleMenu()"></button>
  </header>
  <div class="menu-wrapper" *ngIf="isShown" [class.is-open]="menuOpen" [class.is-closed]="!menuOpen">
    <nav>
      <ul>
        <li *ngFor="let item of menuItems" class="header-link">
          <a routerLink="" [fragment]="item.href" (click)="toggleMenu()">
            <span [innerHTML]="item.text"></span>
            <div class="link-decorator"></div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="contact-diagonal"></div>
    <div class="contact">
      <a routerLink="" fragment="say-hi" class="header-link header-link-dark" (click)="toggleMenu()">Say Hi!</a>
      <div class="contact-footer">
        <a routerLink="" fragment="say-hi" (click)="toggleMenu()">jkillburger&#64;gmail.com</a>
        <div class="social-media">
          <a href="https://github.com/JanKillburger" target="_blank">
            <img src="assets/img/github-button.png" alt="Go to Github">
          </a>
          <a routerLink="" fragment="say-hi" (click)="toggleMenu()">
            <img src="assets/img/email-button.png" alt="Contact me">
          </a>
          <a href="https://www.linkedin.com/in/jan-killburger-4b3809134/" target="_blank">
            <img src="assets/img/linkedin-button.png" alt="Go to LinkedIn">
          </a>
        </div>
      </div>
    </div>
  </div>