@import "../../assets/styles/variables";

:host {
    position: fixed;
    top: 0;
    width: min(100%, $max-inline-size);
    background-color: white;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    padding-inline: $global-padding-inline;

    .menu-toggle {
        background-size: contain;
        width: 40px;
        height: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.menu-wrapper {
    position: fixed;
    height: calc(100vh - $header-height);
    height: calc(100dvh - $header-height);
    width: min(100%, $max-inline-size);
    background-color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &.is-closed {
        animation: hide-menu 0.5s ease-in-out forwards;
    }

    @keyframes hide-menu {
        from {
            opacity: 1;
            top: $header-height;
        }

        to {
            opacity: 0;
            top: 100vh;
        }
    }

    &.is-open {
        animation: show-menu 0.5s ease-in-out forwards;
    }

    @keyframes show-menu {
        from {
            opacity: 0;
            top: 100vh;
        }

        to {
            opacity: 1;
            top: $header-height;
        }
    }

    nav {
        padding-inline: $global-padding-inline;
        flex: 1;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        text-align: center;
        width: min(700px, 100%);
        hyphens: manual;

        a {
            display: inline-block;
            width: 100%;
        }

        .link-decorator {
            height: 32px;
            width: 32px;
            border-left: 4px solid black;
            border-bottom: 4px solid black;
        }

        &:hover {
            .link-decorator {
                border-left: none;
                animation: nav-link-hover 0.5s ease-in-out forwards;
            }

            @keyframes nav-link-hover {
                from {
                    width: 100%;
                }

                to {
                    width: 50%;
                    margin-inline-start: 50%;
                }
            }
        }
    }

    li+li {
        margin-block-start: 0.5em;
    }
}

.contact-diagonal {
    background: linear-gradient(to left bottom, white 49%, black 50%);
    height: 50px;
}

.contact {
    padding-block-end: 1em;
    background-color: black;
    padding-inline: $global-padding-inline;
    color: white;

    .header-link {

        &:hover {
            color: $accent-color;
        }
    }

    .contact-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-start: 0.5em;

        .social-media a+a {
            margin-inline-start: 1em;
        }

        .social-media a {
            display: inline-block;
            height: 100%;

            &:hover img {
                transform: translateY(-12px);
            }
        }

        @media (max-width: 550px) {
            flex-direction: column;
        }
    }
}