@import "../assets/styles/variables";

.scroll-target {
    scroll-margin-block-start: $header-height;
}

.top-level-element {
    padding-inline: $global-padding-inline;
}

h1 {
    hyphens: none;
}

@media (max-width: 550px) {
    h1 {
        hyphens: manual;
    }
}