@import "../../assets/styles/variables";

$initial-base-size: clamp(50px, 16.7vh, 150px);
$enlargement-increment: clamp(33px, 11.1vh, 100px);
$arrow-head-size: clamp(25px, 8.33vh, 75px);
$margin-top: 1em;

:host {
    display: block;
    position: relative;
    height: calc($initial-base-size + $enlargement-increment + 2em);
}

.main.to-bottom-right {
    height: $initial-base-size;
    width: $initial-base-size;
    position: absolute;
    top: $margin-top;
    left: $global-padding-inline;
}

.main.to-bottom-left {
    height: $initial-base-size;
    width: $initial-base-size;
    position: absolute;
    top: $margin-top;
    right: $global-padding-inline;
}

.run-animation.to-bottom-right {
    animation: move-arrow-to-bottom-right 0.75s ease-in-out forwards;

    @keyframes move-arrow-to-bottom-right {
        0% {
            top: $margin-top;
            left: $global-padding-inline;
            width: $initial-base-size;
            height: $initial-base-size;
        }

        50% {
            top: $margin-top;
            left: $global-padding-inline;
            width: calc($initial-base-size + $enlargement-increment);
            height: calc($initial-base-size + $enlargement-increment);
        }

        100% {
            top: calc($margin-top + $enlargement-increment);
            left: calc($enlargement-increment + $global-padding-inline);
        }
    }
}

.run-animation.to-bottom-left {
    animation: move-arrow-to-bottom-left 0.75s ease-in-out forwards;

    @keyframes move-arrow-to-bottom-left {
        0% {
            top: $margin-top;
            right: $global-padding-inline;
            width: $initial-base-size;
            height: $initial-base-size;
        }

        50% {
            top: $margin-top;
            right: $global-padding-inline;
            width: calc($initial-base-size + $enlargement-increment);
            height: calc($initial-base-size + $enlargement-increment);
        }

        100% {
            top: calc($margin-top + $enlargement-increment);
            right: calc($enlargement-increment + $global-padding-inline);
        }
    }
}

.to-bottom-right .diagonal-line {
    position: absolute;
    top: -4px;
    left: -1px;
    width: 141.421%;
    transform-origin: 0 0;
    transform: rotate(45deg);
    height: 4px;
    background-color: black;
}

.to-bottom-left .diagonal-line {
    position: absolute;
    top: -4px;
    right: -1px;
    width: 141.421%;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
    height: 4px;
    background-color: black;
}

.to-bottom-right .arrow-head {
    width: $arrow-head-size;
    height: $arrow-head-size;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    position: absolute;
    bottom: 0;
    right: 0;
}

.to-bottom-left .arrow-head {
    width: $arrow-head-size;
    height: $arrow-head-size;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
}