@import "assets/styles/variables";

/* syne-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/syne-v22-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/syne-v22-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/syne-v22-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/overpass-v13-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* overpass-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/overpass-v13-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
  font-size: 1.4375em;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: gray white;
}

:root::-webkit-scrollbar {
  width: 5px;
}

:root::-webkit-scrollbar-thumb {
  background-color: gray;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: 'Overpass', sans-serif;
  padding-block-start: $header-height;
  max-inline-size: $max-inline-size;
  margin: 0 auto;
  min-height: 200vh;

  &.is-hidden {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-link,
.heading {
  font-family: 'Syne';
  font-weight: 700;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 5.5652rem);
  font-weight: 800;
  text-align: center;
}

h2,
.header-link,
.heading {
  font-size: clamp(1.2rem, 3vw, 3.3913rem);
  font-weight: 800;
}

h3 {
  font-size: clamp(1rem, 2vw, 2.087rem);
}

.scroll-target {
    scroll-margin-block-start: $header-height;
}

.top-level-element {
    padding-inline: $global-padding-inline;
}

button {
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  font: inherit;
  background-color: transparent;
  border: 4px solid black;
  padding: 1em 3em;
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: max-content;
  margin: 0 auto;
  text-align: center;
  transition: all 0.15s;

  & + .btn {
    margin-block-start: 1em;
  }

  &:hover {
    padding-inline: 4em;
    font-weight: 700;
    transition: all 0.15s;
  }

  &:active {
    background-color: black;
    color: white
  }

  &.secondary {
    color: white;
    border-color: white;
    background-color: black;

    &:active {
      background-color: white;
      color: black
    }
  }
}

.btn:disabled {
  color: gray;
  border-color: gray;
  cursor: default;
}

.btn:disabled:hover {
  padding-inline: 3em;
  font-weight: normal;
}

.btn:disabled.secondary:active {
    color: gray;
    border-color: gray;
    background-color: black;
}

.text-link {
  color: $accent-color;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  font-family: Syne;
  font-size: 1rem;
  font-weight: 700;
  border: 3px solid;
  padding: 0.3em;


  .black {
    color: black;
    border-color: black
  }

  .white {
    color: white;
    border-color:white;
  }
}