<h3>{{ seqNo }}</h3>
<div class="project-wrapper">
  <div class="img-wrapper">
    <img
      [src]="project.imgPath"
      alt="{{ project.title }} application screenshot"
    />
    <div class="img-frame">
      <img
        class="img-frame-arrow"
        src="assets/img/project-arrow.svg"
        alt="Decoration arrow"
      />
    </div>
  </div>
  <div class="description">
    <p class="heading">{{ project.title }}</p>
    <p class="skills">{{ project.skills.join(" | ") }}</p>
    <p>{{ project.desc }}</p>
    <a [href]="project.appLink" target="_blank" class="btn" >Test</a>
    <a [href]="project.repLink" target="_blank" class="btn" >GitHub</a>
  </div>
</div>
